
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCurrencyLabel">Create or edit a Currency</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="currency.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="currency.name"
                    required>

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_unit">Unit</label>
            <input type="number" class="form-control" name="unit" id="field_unit"
                    ng-model="currency.unit"
                    required>

            <div ng-show="editForm.unit.$invalid">
                <p class="help-block"
                    ng-show="editForm.unit.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.unit.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                    ng-model="currency.rate"
                    required>

            <div ng-show="editForm.rate.$invalid">
                <p class="help-block"
                    ng-show="editForm.rate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.rate.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_date">Date</label>
            <input type="date" class="form-control" name="date" id="field_date"
                    ng-model="currency.date"
                    >

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
